*{
    margin: 0;
    padding: 0;
}
.all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start , #stop{
    width: 100px;
    height: 40px;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid blue;
}
#stop{
    color: white;
    background-color: black;
    border: 2px solid rgb(204, 9, 9);
}